@import '../../assets/styles/styles.scss';

@media screen and (min-width: 768px) {
    .projects {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 6fr;
        height: 100%;
        width: 100%;
    
        .currentTitle {
            margin-top: auto;
            margin-left: auto;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
        }
    
        .linkContainer {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
    
            h2 {
                padding: 8px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .projects {
        display: flex;
        flex-direction: column;
        margin-left: 10vw;
        margin-bottom: 3vh;
    
        .currentTitle {
            margin-left: 5vw;
            width: fit-content;
        }
    
        .linkContainer {
            margin: 0 10vw;
            width: fit-content;

            h2 {
                margin: 2vw;
                width: fit-content;
            }
        }
    }
}
