@import '../../assets/styles/styles.scss';

.vibes {
    display: flex;
    // justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .vibesContainer {
        padding: 5%;
    }
}

@media screen and (max-width: 767px) {
    .vibesContainer {
        padding: 5%;
    }
}