@import '../../assets/styles/styles.scss';

// .img {
//     height: 150px;
// }

.vibes {
    display: flex;
    justify-content: center;
    align-items: center;

    .vibesContainer {
        width: 80%;
        height: 100%;
        padding: 5%;
    }
}