@import '../../assets/styles/styles.scss';

.mysteryContainer {
    display: flex;
    word-wrap: none;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    .mysteryMotion {
        display: flex; 
        align-items: center;
        width: 200vw;
        position:relative;
        -webkit-animation: position 20s linear infinite; 
        animation: position 20s linear infinite;

        @keyframes position {
            0% {left: 0}
            50% {left: -50vw}
            100% {left: -100vw}
        }

        p {
            width: 200vw;
            max-height: 3vh;
            overflow: hidden;
            // margin: auto;
            // text-overflow: clip;
        }
        
    }
    
}

