@import '../../../assets/styles/styles.scss';

.showCard {
    height: 260px;
    width: 220px;
    margin: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .cardContents {
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        img {
            width: 100%;
            margin-bottom: 5px;
            height: 120px;
            object-fit: cover;
            object-position: center;
        }

        .cardInfo {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;

            h4 {
                line-height: 100%;
            }

            ul {
                display: flex;
                max-width: 200px;
                padding-inline-start: 0;
        
                li {
                    margin: 5px 5px 0 0;
                    padding: 2px 5px;
                }
            }
        }        
    }
}