@import '../../../assets/styles/styles.scss';

.showCard {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .cardContents {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        img {
            object-fit: cover;
            object-position: center;
        }

        img:hover {
            cursor: pointer;
        }

        .cardInfo {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;

            h4 {
                line-height: 100%;
            }

            h4:hover {
                cursor: pointer;
            }

            ul {
                display: flex;
                padding-inline-start: 0;
            }
        }        
    }
}

@media screen and (min-width: 768px) {

    .showCard {
        height: 260px;
        width: 220px;
        margin: 20px 10px;
    
        .cardContents {
            margin: 10px;

            img {
                width: 200px;
                margin-bottom: 5px;
                height: 120px;
            }
    
            .cardInfo {
                ul {
                    max-width: 200px;
            
                    li {
                        margin: 5px 5px 0 0;
                        padding: 2px 5px;
                    }
                }
            }        
        }
    }
}

@media screen and (max-width: 767px) {

    .showCard {
        height: 200px;
        width: 150px;
        margin: 10px 8px;
    
        .cardContents {
            margin: 8px;

            img {
                width: 130px;
                margin-bottom: 5px;
                height: 90px;
            }
    
            .cardInfo {
                ul {
                    max-width: 140px;
                    flex-wrap: wrap;
            
                    li {
                        margin: 2px 6px 0 0;
                        padding: 0 4px;
                    }
                }
            }        
        }
    }
}