@import '../../assets/styles/typography';
@import '../../assets/styles/variables';

.header {
    border-bottom: $orange 2px solid;
    height: 30vh;
    width: 100vw;

    h1 {
        font-family: $title-font;
        font-size: 180px;
        color: $orange;
        padding-left: 50px;
        height: 30vh;
    }
}