@import '../../assets/styles/styles';

.search {
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .themeSelector {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 2vw;

        select {
            -webkit-appearance: none;
            width: 6vw;
            padding: 0 1vw;
            margin: 0 1vw;
        }
    }  

    .searchBar {
        height: 100%;
        margin: 0 2vw;

        form {
            height: 100%;
            input, button {
                -webkit-appearance: none;
                background: none;
                border-top: none;
                border-left: none;
                border-right: none;
            }

            input{
                width: 15vw;
            }
            
            button {
                border: none;
            }

            input:focus, button:focus {
                outline: none;
                cursor: pointer;
            }
        }
    }
}