@import '../../assets/styles/typography';
@import '../../assets/styles/variables';

.search {
    width: 100vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // border-bottom: $orange 2px solid;
}