@import '../../../assets/styles/styles.scss';

@media screen and (min-width: 991px) {

    .contentRadio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .showContainer {
            width: fit-content;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
        }
    }
}