@import './assets/styles/variables';

* {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
}

.app {
    background-color: $highlight;
    height: 100vh;
    width: 100vw;
}

@media screen and (min-width: 991px) {

    .app {
        display: grid;
        grid-gap: 2px;
        grid-template-rows: 1fr 12fr;

        .nav {
            grid-row-start: 1;
            grid-row-end: 2;
            background-color: $background;
        }

        .content {
            grid-row-start: 2;
            grid-row-end: 3;
        }
    }
}



// @media screen and (min-width: 768px) {

// }

// @media screen and (min-width: 480px) {

// }