.homeLayout,
.contentFocus {
    max-height: 95vh;
    height: 100%;
}

.linksCollapsed {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBig {
    overflow: scroll;
}

.vibesLayout,
.vibesCollapsed {
    height: 100%;
}