.app {
    display: grid;
    grid-template-rows: 1fr 13fr;

    .navDesk {
        grid-row-start: 1;
        grid-row-end: 2;
        height: 5vh;
    }

    .mainDesk {
        grid-row-start: 2;
        grid-row-end: 3;
        height: 95vh;
    }

    .player {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.homeLayout {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;

    .headerLayout {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .contentLayout {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .vibesLayout {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .linksLayout {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .title {
        display: flex;
    }

    .titleWithNav {
        display: none;
    }
}

.contentFocus {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 2fr 5fr 5fr;

    .headerCollapsed {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .contentBig {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .vibesCollapsed {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .linksCollapsed {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .title {
        display: none;
    }

    .titleWithNav {  
        display: grid;
    }
}
