@import './_variables.scss';

.classic {
    *::-webkit-scrollbar-track,
    .navDesk,
    .navbar,
    .headerLayout, 
    .contentLayout,
    .vibesLayout,
    .linksLayout,
    .headerCollapsed,
    .vibesCollapsed,
    .linksCollapsed,
    .contentBig,
    .navbar select {
        background-color: $background-classic;
    }

    *::-webkit-scrollbar-thumb,
    .app,
    .mysteryContainer {
        background-color: $highlight-classic;
    }

    h2, 
    h3, 
    h4, 
    h5, 
    h6, 
    p, 
    li, 
    a, 
    label, 
    select,
    .header,
    button,
    .searchInput {
        color: $highlight-classic;
    }

    .mysteryDay {
        color: $background-classic !important;
    }

    .showCard,
    .showCard img,
    .cardInfo li,
    .navbar select {
        border: $border-classic;
    }

    .header,
    .mysteryContainer {
        border-top: $border-classic;
    }

    .contentBig,
    .contentLayout,
    .headerTitle {
        border-right: $border-classic;
    }

    .navbar,
    .header,
    .mysteryContainer,
    .vibeLayout,
    .mysteryDay,
    .searchInput {
        border-bottom: $border-classic;
    }
}

.forest {
    *::-webkit-scrollbar-track,
    .navDesk,
    .navbar,
    .headerLayout, 
    .contentLayout,
    .vibesLayout,
    .linksLayout,
    .headerCollapsed,
    .vibesCollapsed,
    .linksCollapsed,
    .contentBig,
    .navbar select {
        background-color: $background-forest;
    }

    *::-webkit-scrollbar-thumb,
    .app,
    .mysteryContainer {
        background-color: $highlight-forest;
    }

    h2, 
    h3, 
    h4, 
    h5, 
    h6, 
    p, 
    li, 
    a, 
    label, 
    select,
    .header,
    button,
    .searchInput {
        color: $highlight-forest;
    }

    .mysteryDay {
        color: $background-forest !important;
    }

    .showCard,
    .showCard img,
    .cardInfo li,
    .navbar select {
        border: $border-forest;
    }

    .header,
    .mysteryContainer {
        border-top: $border-forest;
    }

    .contentBig,
    .contentLayout,
    .headerTitle {
        border-right: $border-forest;
    }

    .navbar,
    .header,
    .mysteryContainer,
    .vibeLayout,
    .mysteryDay,
    .searchInput {
        border-bottom: $border-forest;
    }
}

.pinky {
    *::-webkit-scrollbar-track,
    .navDesk,
    .navbar,
    .headerLayout, 
    .contentLayout,
    .vibesLayout,
    .linksLayout,
    .headerCollapsed,
    .vibesCollapsed,
    .linksCollapsed,
    .contentBig,
    .navbar select {
        background-color: $background-pinky;
    }

    *::-webkit-scrollbar-thumb,
    .app,
    .mysteryContainer {
        background-color: $highlight-pinky;
    }

    h2, 
    h3, 
    h4, 
    h5, 
    h6, 
    p, 
    li, 
    a, 
    label, 
    select,
    .header,
    button,
    .searchInput  {
        color: $highlight-pinky;
    }

    .mysteryDay {
        color: $background-pinky !important;
    }

    .showCard,
    .showCard img,
    .cardInfo li,
    .navbar select {
        border: $border-pinky;
    }

    .header,
    .mysteryContainer {
        border-top: $border-pinky;
    }

    .contentBig,
    .contentLayout,
    .headerTitle {
        border-right: $border-pinky;
    }

    .navbar,
    .header,
    .mysteryContainer,
    .vibeLayout,
    .mysteryDay,
    .searchInput {
        border-bottom: $border-pinky;
    }
}

.blue {
    *::-webkit-scrollbar-track,
    .navDesk,
    .navbar,
    .headerLayout, 
    .contentLayout,
    .vibesLayout,
    .linksLayout,
    .headerCollapsed,
    .vibesCollapsed,
    .linksCollapsed,
    .contentBig,
    .navbar select {
        background-color: $background-blue;
    }

    *::-webkit-scrollbar-thumb,
    .app,
    .mysteryContainer {
        background-color: $highlight-blue;
    }

    h2, 
    h3, 
    h4, 
    h5, 
    h6, 
    p, 
    li, 
    a, 
    label, 
    select,
    .header,
    button,
    .searchInput {
        color: $highlight-blue;
    }

    .mysteryDay {
        color: $background-blue !important;
    }

    .showCard,
    .showCard img,
    .cardInfo li,
    .navbar select {
        border: $border-blue;
    }

    .header,
    .mysteryContainer {
        border-top: $border-blue;
    }

    .contentBig,
    .contentLayout,
    .headerTitle {
        border-right: $border-blue;
    }

    .navbar,
    .header,
    .mysteryContainer,
    .vibeLayout,
    .mysteryDay,
    .searchInput {
        border-bottom: $border-blue;
    }
}