@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Fascinate&family=Fondamento&family=Mr+Bedfort&family=Oswald&display=swap');

$title-font : 'Mr Bedfort', cursive;
$primary-font: 'Oswald', sans-serif;

$font-xxl: 60px;
$font-xl: 50px;
$font-l: 45px;
$font-m: 35px;
$font-s: 24px;
$font-xs: 17px;
$font-xxs: 15px;
$font-xxxs: 12px;


h2, h3, h4, h5, h6, p, li, a, label, select, button, .searchInput {
    font-family: $primary-font;
    list-style-type: none;
    text-decoration: none;
}

.search {
    font-style: italic;

    button, input {
        font-style: italic;
    }
}

.header {
    h1 {
        font-family: $title-font;
    }
}

.mysteryDay {
    font-size: $font-xxs;
    font-style: italic;
}


@media screen and (min-width: 768px) {

    .headerLinks {
        font-size: $font-s;
    }

    .homeLayout, .vibesFocus{
        h1 {
            font-size: 19vh;
            line-height: 100%;
        }
    }

    .contentFocus{
        h1 {
            font-size: 11vh;
            line-height: 100%;
        }
    }
    
    .search {

        .themeSelector {
            font-size: $font-s;

            select {
                font-size: $font-xxxs;
            }
        }

        .searchBar {
            button {
                font-size: $font-s;
            }

            input {
                font-size: $font-xxs;
            }
        }
    }

    .vibes {
        h2 {
            font-size: $font-s;
        }

        h4 {
            font-size: $font-xs;
        }
    }

    .links {
        li {
            font-size: $font-s;
        }
    }

    .projects {

        h4 {
            font-size: $font-s;
        }

        h2 {
            font-size: $font-m;
        }

        .archive {
            font-style: italic;
        }
    }

    .showCard {
        p {
            font-size: $font-xxs;
        }

        h4 {
            font-size: $font-s;
        }
    }
}

@media screen and (max-width: 767px) {

    .header {
        .headerTitle {
            font-size: 15vw;
            line-height: 20vw;
        }

        .headerTitleCollapsed {
            font-size: 15vw;
            line-height: 20vw;
        }

        .headerLinks {
            font-size: $font-xxs;
        }
    }

    .projects {
        h4 {
            font-size: $font-xs;
        }

        h2 {
            font-size: $font-s;
        }   
        .archive {
            font-style: italic;
        }
    }

    .showCard {
        p {
            font-size: $font-xxxs;
        }

        h4 {
            font-size: $font-xxs;
        }

        li {
            font-size: $font-xxxs;
        }
    }

    .topTwentyGrid {
        .gridList {
            li {
                font-size: $font-xxxs;
            }
        }

        .gridFocus {
            li {
                font-size: $font-xxs;
            }
        }
        
    }
}
