@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Fascinate&family=Fondamento&family=Mr+Bedfort&family=Oswald&display=swap');

$title-font : 'Mr Bedfort', cursive;
$primary-font: 'Oswald', sans-serif;

h2, h3, h4, h5, h6, p, li, a {
    color: $highlight;
    font-family: $primary-font;
    list-style-type: none;
    text-decoration: none;
}

.search {
    font-style: italic;
}

.header {
    font-family: $title-font;
    color: $highlight;
}


@media screen and (min-width: 991px) {
    
    .search {
        p {
            font-size: 4vh;
            padding: 8vw;
        }
    }

    .vibes {
        h2 {
            font-size: 3.5vw;
        }

        h4 {
            font-size: 2vw;
        }
    }

    li {
        // font-size: 3vh;
        font-size: 22px;
    }

    .home {
        .header {
            h1 {
                font-size: 20vh;
            }
        }

        .projects {
            h4 {
                font-size: 2.5vw;
            }

            h2 {
                font-size: 4vw;
            }

            .archive {
                font-style: italic;
            }
        }
    }

    .radiokiki_home {
        .header_collapsed {
            h1 {
                font-size: 18vh;
            }
        }

        .radiokiki_contents {
            h2 {
                font-size: 40px;
            }
        }
    }
}



// : 'Fascinate', cursive;
// : 'Fondamento', cursive;
